{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="mt-6 mb-4 text-center text-3xl md:text-4xl">Change Password</h1>
        {% if messages %} 
           {% for message in messages %}
              <p class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</p>
           {% endfor %}
        {% endif %}


        <form method="POST" class="w-1/2 mx-auto flex flex-col justify-center">
    {% csrf_token %}

    {% if form.errors %}
        <div class="bg-red-100 text-red-700 p-2 mb-3">
            {{ form.errors }}
        </div>
    {% endif %}

    {{ form.as_p }}

    <button type="submit"
            class="my-3 px-2 py-1 text-white mx-auto rounded-sm bg-slate-700">
        Change Password
    </button>
</form>

<p class="text-center"><a href="{% url "password_reset" %}">Forfot Password?</a></p>
        
    </div>
{% endblock content %}