{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    

    <div class="w-1/2 mt-8 mx-auto shadow-md p-4">
        {% if message %} 
          <p>{{message}}</p>
        {% endif %}

        
   
    <form action="" method="POST">
       {% comment %} <input type="text" class="border-2 w-full p-6"> {% endcomment %}
        {% csrf_token %}
        {{form.as_p}}
        <button class="block mx-auto rounded-md my-4 px-6 py-3 bg-lime-400 shadow-sm" type="submit">Submit</button>
    </form>
    </div>
</body>
</html>