{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <p class="lal-bg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quo?</p>
    <div class="wd">
        <img src=" {% static 'images/timeSaver.png' %}" alt="" style="width: 400px;">
    </div>
</body>
</html>