{% extends "base.html" %}
{% block content %}
     <h1 class="w-1/2 text-center text-3xl md:text-4xl font-semibold mt-6 mb-4">Registration page</h1>
        {% if messages %} 
           {% for message in messages %}
              <p class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</p>
           {% endfor %}
          
        {% endif %}

        {% if form.non_field_errors %}
           {% for error in form.non_field_errors %}
              {{error}}
           {% endfor %}
        {% endif %}
     <form action="" method="POST" class='w-1/2 mx-auto mb-8'>
        {% csrf_token %}
        {% for field in form %}
        <p>
            <label for="{{ field.id_for_label}}"> {{field.label}}</label>
           {{field}}

           {% if field.errors %}
             <ul>
                {% for error in field.errors %}
               
                  <li>{{error}}</li>
               
                {% endfor %}
             </ul>
           {% endif %}
        </p>
        {% endfor %}
        <button type="submit" class="bg-blue-600 px-3 py-2 text-white my-3 rounded">Sign Up</button>
     </form>
{% endblock content %}