{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="w-1/2 mt-6 mb-4 text-center text-3xl md:text-4xl">Login Page</h1>
        {% if messages %} 
           {% for message in messages %}
              <p class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</p>
           {% endfor %}
        {% endif %}


        <form action="" method="POST" class="w-1/2 mx-auto flex flex-col justify-center">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="my-3 px-2 py-1 text-white mx-auto rounded-sm bg-slate-700">Submit</button>
        </form>
        
    </div>
{% endblock content %}