{% extends "dashboard/dashboard.html" %}
{% block title %}Manager Dashboard{% endblock title %}
{% block tasks %}
 {% comment %} Task Table   {% endcomment %}
        <div class="bg-white rounded-xl shadow-sm divide-y ">
          <div
            class="grid grid-cols-4 gap-6 uppercase p-4  text-sm text-gray-500 font-semibold"
          >
            

             <div>task title</div>
            <div>priority</div>
            <div>team</div>
            <div>created at</div>
          </div>
          
          {% for task in all_tasks %}
            <div
            class="grid grid-cols-4 gap-6   p-4 text-sm "
          >
           <div class="flex gap-3 items-center">
                <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                <span class="font-semibold">{{task.title}}</span>
            </div>
            <div ><span class="px-3 py-1 bg-blue-50 rounded-full text-sm font-semibold text-blue-500">{{task.details.get_priority_display}}</span></div>
            <div class="flex -space-x-2">
                {% for emp in task.assigned_to.all %}
                <div class="w-8 h-8 rounded-full bg-blue-400 flex justify-center items-center text-white text-sm border-2 border-white">{{emp.name|slice:':2'}}</div>{% endfor %}


            </div>
            <div class="text-gray-500">{{task.created_at|timesince}}</div>
          </div>
          {% endfor %}
       
        


        </div>

{% endblock tasks %}